html{
    height: 100%;
}
body {
    font-family: 'Fira Code', monospace;
    font-weight: 600;
    color: white;
    background-color: black;

    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    margin: 0;

    --special: #e1c861;
}
.title {
    height: 100%;
    display: flex;
    align-items: center;
}
.lists-wrapper {
    position: relative;
}
.lists-e1c861 {
    transition: 0.2s 1.5s ease;
    position: absolute;
    top: 0;
    width: 0;
    overflow: hidden;
}
.e1c861 {
    color: var(--special);
}
.firstAnimation {
    display: flex;
    overflow: hidden;
    transition: 0.5s 1s ease;
    width: 173px;
    height: 43px;
}
.start .firstAnimation {
    width: 0;
}
.start .lists-e1c861 {
    width: 100px;    
}
.sharp {
    transition: 0.3s 2s ease;
    transform: scale(1) rotate(0deg);
}
.start .sharp {
    transform: scale(0.5) rotate(360deg);
    filter: blur(2px);
    opacity: 0;
}
.leaf {
    width: 30px;
    position: absolute;
    transition: 0.3s 2s ease;
    transform: translateX(-55px) scale(0) rotate(-360deg);
    filter: blur(2px);
}
.start .leaf {
    transform: translateX(-55px) scale(1) rotate(0deg);
    filter: blur(0px);
    opacity: 1;
}